/*importar fuentes desde fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --header-height: 3.5rem;
    --border-section: 56px 56px 0 0;

    /*========== Colores ==========*/
    /*Color mode HSL(hue, saturation, lightness) (matiz, saturacion, intensidad)*/
    --first-color: hsl(12, 32%, 22%);
    --first-color-alt: hsl(12, 42%, 12%);
    --first-color-light: hsl(12, 24%, 32%);
    --second-color: hsl(39, 62%, 65%);
    --title-color: hsl(12, 12%, 16%);
    /*--text-color: hsl(12, 12%, 32%);*/
    --text-color: #F5B041;
    --text-color-light: hsl(12, 8%, 48%);
    --white-color: #fff;

    /*========== Font and typography / Fuente y Tipografia ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --second-font: "Pacifico", cursive;
    --biggest-font-size: 2.75rem;
    --big-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight / Peso de Fuente ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography / Tipografia Responsiva==========*/
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4.5rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*=============== BASE ===============*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-image: radial-gradient(circle at 0 0, #a05, #003, #000);
    /*background-image: radial-gradient(circle at 0 0, #000, #003, #a05);*/
    min-height: 100vh;
 font-family: var(--body-font);
font-size: var(--normal-font-size);
background-color: var(--white-color);
justify-content: center;
padding-top: 80px;
  }

  ul {
      list-style: none;
  }

  a {
      text-decoration: none;
  }

  img {
      max-width: 100%;
      height: auto;
      height: 300px;
      width: 300px;
  }

  /*=============== HEADER & NAV ===============*/
  header {
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      color: #F5B041;
      border: 1px solid var(--text-color-light);
  }
  #btn-menu {
      display: none;
      background: rgba(0, 0, 0, 0.1);
      color: #F5B041;
  }

  header label {
      display: none;
      width: 30px;
      height: 30px;
      padding: 10px;
  }
  header label:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0);
  }
  .menu ul {
      display: flex;
      justify-content: flex-end;
  }
  .menu li:hover {
      background: rgba(0, 0, 0, 0.3);
  }
  .menu li a {
      display: block;
      padding: 10px 20px;
  }

  /*=============== MAIN ===============*/
  main {
      padding: 20px;
  }
  p {
      color: #F5B041;
      align-items: center;
      padding: 8%;
  }
  .nosDistingue {
      width: 250px;
      /*text-align: left;*/
      /*text-align: right;*/
  }
  .nuestrasClases {
      width: 250px;
      /*margin-left: 80px;*/
      /*text-align: left;*/
      /*text-align: center;*/
  }

  /*============WHATSAPP=============*/
  .float {
      position: fixed;
      width: 60px;
      height: 60px;
      background-color: #25d366;
      bottom: 90px;
      right: 40px;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      box-shadow: 2px 2px 3px #999;
      z-index: 999;
  }
  .float:hover {
      background-color: #28e76e;
  }
  .fa-whatsapp {
      font-size: 60px;
  }
button-whatsapp {
    width: 100%;
}
  /*=============== FOOTER ===============*/
  footer {
      background: rgba(0, 0, 0, 0.3);
      color: var(--text-color-light);
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 80px;
  }

  .contacto {
      margin: 5px;
  }

  .desarrollador {
      margin: 5px;
  }

svg {
    background-color: rgba(0,0,0,0);
    width: 2%;
    height: 2%;
    padding: 5px;

}
  /*=============== RESPONSIVE ===============*/
  /* For small devices */
  /*@media screen and (max-width: 300px) {

  }*/
/*@media screen and (min-width: 400px) {
}*/

/* For medium devices */
/*@media screen and (min-width: 576px) {
}*/

@media screen and (max-width: 768px) {
  /*=============== HEADER & NAV ===============*/
    body {
    display: flex;
    }
header {
    border: 0;
    background: rgba(0,0,0,0)
    }
header label {
    display: block;
    }
.menu {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 60%;
    margin-left: -60%;
    transition: all 0.5s;
    }
.menu ul {
    flex-direction: column;
    }
.menu li {
    border-top: 1px solid var(--text-color-light);
    }
#btn-menu:checked ~ .menu {
    margin: 0;
    justify-content: center;
    }
}


  /*=============== FOOTER ===============*/
    .box {
        width: 75%;
        height: 95%;
    }

/* For large devices */
/*@media screen and (min-width: 1023px) {
}*/

/*@media screen and (min-width: 1152px) {

}*/

/*@media screen and (min-width: 1248px) {

}*/

/*configuracion css desde https://youtu.be/4bbK13MCg9k?si=BUVPnnoWczcD7MHc*/

