body {
    margin: o;
    font-family: sans-serif;
}

header {
    width: 100%;
    background: #4e94ab;
}

#btn-menu{
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul {
    margin: o;
    list-style: none;
    padding: o;
    display: flex;
}